{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>瓜娃子</title>
		<style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url({% static 'pictures/login_background.jpg' %});
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
		</style>
	</head>
	<body>
		<h1 style="text-align: center; font－family: 隶书">哦豁! 有错误!</h1>
		<div align="center">
			<img src="../static/pictures/guawazi.gif" height="350px" width="450px "/>
			<br></br>
			<form action="/error/" id="form" method="post">
				<input type="submit" id="button1" class="button" value="确认" style="width: 100px; height: 60px; background-color: rgb(224,224,224);">
			</form>
		</div>
	</body>
</html>